body {
    font-family: 'Segoe UI', sans-serif;
}

.content {
  padding-left: 100px;
  padding-top: 10px;
}

.canvas {
    width: 800px;
    height: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*margin-right: 10px;*/
    background-color: white;
    /*border: 2px solid black;*/
}

.toolset {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

circle {
    fill: white;
    stroke: blue;
    stroke-width: 1px;
}

.activated {
    background-color: aqua;
}
