body {
    font-family: 'Segoe UI', sans-serif;
}

.content {
  padding-left: 100px;
  padding-top: 10px;
}

.container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    width:auto;
}

.bgd-color {
    background-color: #f0f8ff;
}

.bgd {
    background-repeat: no-repeat;
}

.toolset {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

circle[id^="station"].selected, rect[id^="station"].selected {
    cursor: pointer;
    fill: gold;
    stroke: dodgerblue;
    stroke-width: 2px;
}

circle[id^="station"].last-selected, rect[id^="station"].last-selected {
    cursor: pointer;
    fill: gold;
    stroke: indigo;
    stroke-width: 3px;
}

circle[id^="station"], rect[id^="station"] {
    fill: white;
    stroke: blue;
    stroke-width: 1px;
}

    circle[id^="station"]:hover, rect[id^="station"]:hover {
        cursor: pointer;
        stroke: dodgerblue;
        stroke-width: 3px;
    }

.highlightCell {
    stroke-width: 2px;
    stroke: Highlight;
    stroke-dasharray: 4 1;
}

.activated {
    background-color: rgba(171, 235, 198, 0.5);
    border-color: rgba(171, 235, 198, 0.125);
}

.activated:hover {
    background-color: rgba(171, 235, 198, 0.5);
    border-color: rgba(171, 235, 198, 0.125);
}

#canvas span {
    display: none;
}

#canvas:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
}

.list-group-item {
    cursor: pointer;
}

svg text {
    cursor: text;
}

#rename-station {
    z-index: 100;
}

#saveMap .modal-dialog {
    overflow-y: initial !important
}

#saveMap .modal-body {
    height: 250px;
    overflow-y: auto;
}

/*#saveMap li:hover {
    cursor: pointer;
    border: 1px solid #17a2b8;
    box-shadow: 0 0 10px rgba(23,162,184,0.8);
    border-radius: 2px;
}*/

.list-unstyled li {
    margin-top: -1px; /* Prevent double borders */
    text-decoration: none;
    display: block;
    position: relative;
}

    .list-unstyled li:hover {
        cursor: pointer;
        border: 1px solid #17a2b8;
        box-shadow: 0 0 10px rgba(23,162,184,0.8);
        border-radius: 2px;
    }

.remove-map {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

#error {
    position: absolute;
    z-index: 1;
    width: 100%;
}

    #error.visible {
        transition: opacity 1s linear;
        opacity: 1;
    }

    #error.invisible {
        transition: opacity 2s;
        opacity: 0;
    }

.route-mngmt {
    font-size: 17px;
}