body {
    font-family: 'Segoe UI', sans-serif;
}

.content {
  padding-left: 100px;
  padding-top: 10px;
}

.canvas {
    float: left;
    width: 800px;
    height: 800px;
    margin-right: 10px;
    background-color: #e9ecef;
    /*border: 2px solid black;*/ 
}

.toolset {
    background-color: #e9ecef;
}
