#board-container {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow-x:scroll;
}

.tile {
    background: #22a0fb;
	float:left;
	vertical-align: middle;
    border: 1px solid #f9f3f3;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}

.alive {
    background: #f9f3f3;
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 50%;
    display: inline-block;
}

.btn-spin {
  font-size: 10px;
  border-radius: 0px;
  padding: 0px 10px 0px 10px;
}

.addon-override {
    padding: 0px;
    font-size: 10px;
    border-radius: 0px;
}

.notstarted:hover {
    cursor: pointer;
    background: #73c1fa;
}

.label-d {
    display:inline;
    float:left;
    font-weight: bolder;
    margin: 5px 10px 0 0; 
}
